.w-checkbox {
  margin-bottom: 5px;
  padding-left: 20px;
  display: block;
}

.w-checkbox:before {
  content: " ";
  grid-area: 1 / 1 / 2 / 2;
  display: table;
}

.w-checkbox:after {
  content: " ";
  clear: both;
  grid-area: 1 / 1 / 2 / 2;
  display: table;
}

.w-checkbox-input {
  float: left;
  margin: 4px 0 0 -20px;
  line-height: normal;
}

.w-checkbox-input--inputType-custom {
  width: 12px;
  height: 12px;
  border: 1px solid #ccc;
  border-radius: 2px;
}

.w-checkbox-input--inputType-custom.w--redirected-checked {
  background-color: #3898ec;
  background-image: url('https://d3e54v103j8qbb.cloudfront.net/static/custom-checkbox-checkmark.589d534424.svg');
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: cover;
  border-color: #3898ec;
}

.w-checkbox-input--inputType-custom.w--redirected-focus {
  box-shadow: 0 0 3px 1px #3898ec;
}

.w-form-formradioinput--inputType-custom {
  width: 12px;
  height: 12px;
  border: 1px solid #ccc;
  border-radius: 50%;
}

.w-form-formradioinput--inputType-custom.w--redirected-focus {
  box-shadow: 0 0 3px 1px #3898ec;
}

.w-form-formradioinput--inputType-custom.w--redirected-checked {
  border-width: 4px;
  border-color: #3898ec;
}

body {
  color: #000;
  background-color: #f1f1f1;
  font-family: Roboto, sans-serif;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
}

h1 {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 4rem;
  font-weight: 700;
  line-height: 1.1;
}

h2 {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 3rem;
  font-weight: 700;
  line-height: 1.2;
}

h3 {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 2rem;
  font-weight: 700;
  line-height: 1.2;
}

h4 {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 1.4;
}

h5 {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 1.25rem;
  font-weight: 700;
  line-height: 1.5;
}

h6 {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 1rem;
  font-weight: 700;
  line-height: 1.5;
}

p {
  margin-bottom: 0;
}

ul, ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 1.5rem;
}

li {
  margin-bottom: .25rem;
  list-style-type: square;
}

img {
  max-width: 100%;
  display: inline-block;
}

label {
  margin-bottom: .25rem;
  font-weight: 500;
}

blockquote {
  border-left: .25rem solid #e2e2e2;
  margin-bottom: 0;
  padding: 0 1.25rem;
  font-size: 1.25rem;
  line-height: 1.5;
}

figure {
  margin-top: 2rem;
  margin-bottom: 2rem;
}

figcaption {
  text-align: center;
  margin-top: .25rem;
}

.utility-page_component {
  width: 100vw;
  height: 100vh;
  max-height: 100%;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  padding-left: 1.25rem;
  padding-right: 1.25rem;
  display: flex;
}

.utility-page_wrapper {
  max-width: 20rem;
  grid-column-gap: 1rem;
  grid-row-gap: 1rem;
  text-align: center;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  display: flex;
}

.utility-page_form {
  grid-column-gap: 1rem;
  grid-row-gap: 1rem;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  display: flex;
}

.utility-page_image {
  margin-left: auto;
  margin-right: auto;
}

.global-styles {
  display: block;
  position: fixed;
  top: 0%;
  bottom: auto;
  left: 0%;
  right: auto;
}

.margin-custom2 {
  margin: 2.5rem;
}

.padding-xlarge {
  padding: 4rem;
}

.margin-xlarge {
  margin: 4rem;
}

.margin-xsmall {
  margin: .5rem;
}

.padding-xhuge {
  padding: 8rem;
}

.margin-custom1 {
  margin: 1.5rem;
}

.padding-0 {
  padding: 0;
}

.padding-xxhuge {
  padding: 12rem;
}

.padding-huge {
  padding: 6rem;
}

.margin-large {
  margin: 3rem;
}

.padding-xxlarge {
  padding: 5rem;
}

.margin-xxsmall {
  margin: .25rem;
}

.padding-custom3 {
  padding: 3.5rem;
}

.padding-large {
  padding: 3rem;
}

.margin-tiny {
  margin: .125rem;
}

.padding-small {
  padding: 1rem;
}

.padding-custom2 {
  padding: 2.5rem;
}

.margin-custom3 {
  margin: 3.5rem;
}

.padding-custom1 {
  padding: 1.5rem;
}

.margin-huge {
  margin: 6rem;
}

.padding-medium {
  padding: 2rem;
}

.padding-xsmall {
  padding: .5rem;
}

.margin-xxlarge {
  margin: 5rem;
}

.padding-xxsmall {
  padding: .25rem;
}

.margin-xhuge {
  margin: 8rem;
}

.padding-tiny {
  padding: .125rem;
}

.margin-small {
  margin: 1rem;
}

.margin-medium {
  margin: 2rem;
}

.margin-xxhuge {
  margin: 12rem;
}

.margin-0 {
  margin: 0;
}

.margin-horizontal {
  margin-top: 0;
  margin-bottom: 0;
}

.padding-top {
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
}

.margin-vertical {
  margin-left: 0;
  margin-right: 0;
}

.margin-bottom {
  margin-top: 0;
  margin-left: 0;
  margin-right: 0;
}

.padding-left {
  padding-top: 0;
  padding-bottom: 0;
  padding-right: 0;
}

.padding-vertical {
  padding-left: 0;
  padding-right: 0;
}

.padding-horizontal {
  padding-top: 0;
  padding-bottom: 0;
}

.margin-right {
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 0;
}

.margin-top {
  margin-bottom: 0;
  margin-left: 0;
  margin-right: 0;
}

.margin-left {
  margin-top: 0;
  margin-bottom: 0;
  margin-right: 0;
}

.padding-right {
  padding-top: 0;
  padding-bottom: 0;
  padding-left: 0;
}

.padding-bottom {
  padding-top: 0;
  padding-left: 0;
  padding-right: 0;
}

.form_checkbox {
  flex-direction: row;
  align-items: center;
  margin-bottom: .5rem;
  padding-left: 0;
  display: flex;
}

.form_checkbox-icon {
  width: .875rem;
  height: .875rem;
  border-radius: .125rem;
  margin: 0 .5rem 0 0;
}

.form_checkbox-icon.w--redirected-checked {
  width: .875rem;
  height: .875rem;
  background-size: 90%;
  border-radius: .125rem;
  margin: 0 .5rem 0 0;
}

.form_checkbox-icon.w--redirected-focus {
  width: .875rem;
  height: .875rem;
  border-radius: .125rem;
  margin: 0 .5rem 0 0;
  box-shadow: 0 0 .25rem 0 #3898ec;
}

.fs-styleguide_background {
  width: 100%;
  border: 1px solid rgba(0, 0, 0, .1);
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
  display: flex;
}

.fs-styleguide_spacing {
  grid-column-gap: .5rem;
  grid-row-gap: .5rem;
  background-image: linear-gradient(to top, rgba(0, 115, 230, .1), rgba(255, 255, 255, 0));
  grid-template-rows: auto auto;
  grid-template-columns: 1fr;
  grid-auto-columns: 1fr;
  align-content: start;
  justify-content: start;
  align-items: start;
  justify-items: stretch;
  display: grid;
  position: relative;
}

.icon-1x1-small {
  width: 1rem;
  height: 1rem;
  flex: none;
}

.overflow-auto {
  overflow: auto;
}

.spacing-clean {
  margin: 0;
  padding: 0;
}

.icon-1x1-large {
  width: 2.5rem;
  height: 2.5rem;
}

.z-index-2 {
  z-index: 2;
  position: relative;
}

.fs-styleguide_background-space {
  width: 1px;
  height: 1px;
  margin: 5rem;
}

.text-weight-semibold {
  font-weight: 600;
}

.text-style-strikethrough {
  text-decoration: line-through;
}

.fs-styleguide_item {
  grid-column-gap: 1.125rem;
  grid-row-gap: 1.125rem;
  border-bottom: 1px solid rgba(0, 0, 0, .1);
  grid-template-rows: auto;
  grid-template-columns: 1fr;
  grid-auto-columns: 1fr;
  align-content: start;
  justify-content: start;
  align-items: start;
  justify-items: start;
  padding-bottom: 3rem;
  display: grid;
  position: relative;
}

.fs-styleguide_item.is-stretch {
  justify-items: stretch;
}

.max-width-full {
  width: 100%;
  max-width: none;
}

.fs-styleguide_item-header {
  width: 100%;
  border-bottom: 1px solid rgba(0, 0, 0, .1);
  padding-bottom: 2rem;
}

.fs-styleguide_heading-large {
  font-size: 6rem;
}

.background-color-black {
  color: #f5f5f5;
  background-color: #000;
}

.z-index-1 {
  z-index: 1;
  position: relative;
}

.text-color-black {
  color: #000;
}

.text-color-grey {
  color: gray;
}

.fs-styleguide_2-col {
  width: 100%;
  grid-column-gap: 4rem;
  grid-row-gap: 4rem;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr;
  grid-auto-columns: 1fr;
  display: grid;
}

.fs-styleguide_2-col.is-align-start {
  align-items: start;
}

.form_message-success {
  padding: 1.25rem;
}

.fs-styleguide_row {
  grid-column-gap: .75rem;
  grid-row-gap: .75rem;
  flex-direction: row;
  grid-template-rows: auto;
  grid-template-columns: auto;
  grid-auto-columns: auto;
  grid-auto-flow: column;
  justify-content: flex-start;
  align-items: center;
  display: flex;
}

.heading-style-h3 {
  font-size: 2rem;
  font-weight: 700;
  line-height: 1.2;
}

.text-rich-text h1, .text-rich-text h2, .text-rich-text h3, .text-rich-text h4 {
  margin-top: 1.5rem;
  margin-bottom: 1rem;
}

.text-rich-text h5, .text-rich-text h6 {
  margin-top: 1.25rem;
  margin-bottom: 1rem;
}

.text-rich-text p {
  margin-bottom: 1rem;
}

.text-rich-text ul, .text-rich-text ol {
  margin-bottom: 1.5rem;
}

.container-small {
  width: 100%;
  max-width: 48rem;
  margin-left: auto;
  margin-right: auto;
}

.icon-height-small {
  height: 1rem;
}

.icon-1x1-medium {
  width: 2rem;
  height: 2rem;
}

.heading-style-h1 {
  font-size: 4rem;
  font-weight: 700;
  line-height: 1.1;
}

.padding-global {
  padding-left: 2.5rem;
  padding-right: 2.5rem;
}

.text-weight-normal {
  font-weight: 400;
}

.padding-section-small {
  padding-top: 3rem;
  padding-bottom: 3rem;
}

.max-width-small {
  width: 100%;
  max-width: 20rem;
}

.text-color-white {
  color: #fff;
}

.text-style-italic {
  font-style: italic;
}

.text-weight-medium {
  font-weight: 500;
}

.overflow-hidden {
  overflow: hidden;
}

.fs-styleguide_section-header {
  width: 100%;
  grid-column-gap: 1rem;
  grid-row-gap: 1rem;
  border-bottom: 1px solid #000;
  grid-template-rows: auto;
  grid-template-columns: 1fr;
  grid-auto-columns: 1fr;
  padding-bottom: 3rem;
  line-height: 1.4;
  display: grid;
}

.text-size-tiny {
  font-size: .75rem;
}

.max-width-xxlarge {
  width: 100%;
  max-width: 80rem;
}

.fs-styleguide_1-col {
  width: 100%;
  grid-column-gap: 3rem;
  grid-row-gap: 3rem;
  grid-template-rows: auto;
  grid-template-columns: 1fr;
  grid-auto-columns: 1fr;
  display: grid;
}

.overflow-visible {
  overflow: visible;
}

.fs-styleguide_empty-box {
  z-index: -1;
  height: 3rem;
  min-width: 3rem;
  background-color: rgba(0, 115, 230, .1);
  border: 1px dashed #0073e6;
  position: relative;
}

.text-weight-light {
  font-weight: 300;
}

.fs-styleguide_heading-medium {
  font-size: 4rem;
}

.max-width-xsmall {
  width: 100%;
  max-width: 16rem;
}

.fs-styleguide_4-col {
  width: 100%;
  grid-column-gap: 4rem;
  grid-row-gap: 4rem;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-auto-columns: 1fr;
  display: grid;
}

.text-size-regular {
  font-size: 1rem;
}

.text-weight-xbold {
  font-weight: 800;
}

.text-align-right {
  text-align: right;
}

.text-weight-bold {
  font-weight: 700;
}

.max-width-medium {
  width: 100%;
  max-width: 32rem;
}

.fs-styleguide_item-wrapper {
  width: 100%;
  grid-column-gap: 3rem;
  grid-row-gap: 3rem;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  display: flex;
}

.max-width-large {
  width: 100%;
  max-width: 48rem;
}

.fs-styleguide_header-block {
  grid-column-gap: 2rem;
  grid-row-gap: 2rem;
  grid-template-rows: auto;
  grid-template-columns: 1fr;
  grid-auto-columns: 1fr;
  align-items: center;
  justify-items: start;
  display: grid;
}

.background-color-white {
  background-color: #fff;
}

.text-style-muted {
  opacity: .6;
}

.text-size-small {
  font-size: .875rem;
}

.heading-style-h4 {
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 1.4;
}

.max-width-xlarge {
  width: 100%;
  max-width: 64rem;
}

.form_radio-icon {
  width: .875rem;
  height: .875rem;
  margin-top: 0;
  margin-left: 0;
  margin-right: .5rem;
}

.form_radio-icon.w--redirected-checked {
  width: .875rem;
  height: .875rem;
  border-width: .25rem;
}

.form_radio-icon.w--redirected-focus {
  width: .875rem;
  height: .875rem;
  box-shadow: 0 0 .25rem 0 #3898ec;
}

.text-style-nowrap {
  white-space: nowrap;
}

.text-align-left {
  text-align: left;
}

.background-color-grey {
  background-color: #f5f5f5;
}

.form_input {
  min-height: 3rem;
  background-color: rgba(0, 0, 0, 0);
  margin-bottom: .75rem;
  padding: .5rem 1rem;
}

.form_input.is-text-area {
  min-height: 8rem;
  padding-top: .75rem;
}

.heading-style-h6 {
  font-size: 1rem;
  font-weight: 700;
  line-height: 1.5;
}

.padding-section-large {
  padding-top: 8rem;
  padding-bottom: 8rem;
}

.fs-styleguide_3-col {
  width: 100%;
  grid-column-gap: 4rem;
  grid-row-gap: 4rem;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr 1fr;
  grid-auto-columns: 1fr;
  align-items: stretch;
  display: grid;
}

.fs-styleguide_3-col.is-align-start {
  align-items: start;
}

.text-style-link {
  color: #000;
  text-decoration: underline;
}

.text-size-large {
  font-size: 1.5rem;
}

.fs-styleguide_header {
  background-color: rgba(0, 0, 0, .05);
}

.heading-style-h2 {
  font-size: 3rem;
  font-weight: 700;
  line-height: 1.2;
}

.page-wrapper {
  max-width: 1400px;
  margin-top: 81px;
  margin-left: auto;
  margin-right: auto;
}

.fs-styleguide_label {
  color: #fff;
  background-color: #0073e6;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  padding: .25rem .75rem;
  font-weight: 600;
  line-height: 1.4;
  display: flex;
}

.fs-styleguide_label.is-tag {
  background-color: #be4aa5;
}

.fs-styleguide_label.is-hex {
  color: #000;
  background-color: #f5f5f5;
}

.fs-styleguide_version {
  z-index: 5;
  color: #000;
  font-weight: 500;
  text-decoration: none;
}

.heading-style-h5 {
  font-size: 1.25rem;
  font-weight: 700;
  line-height: 1.5;
}

.container-large {
  width: 100%;
  max-width: 80rem;
  margin-left: auto;
  margin-right: auto;
}

.icon-height-medium {
  height: 2rem;
}

.text-style-allcaps {
  text-transform: uppercase;
}

.overflow-scroll {
  overflow: scroll;
}

.form_message-error {
  margin-top: .75rem;
  padding: .75rem;
}

.icon-height-large {
  height: 3rem;
}

.text-align-center {
  text-align: center;
}

.form_component {
  margin-bottom: 0;
}

.max-width-xxsmall {
  width: 100%;
  max-width: 12rem;
}

.layer {
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0%;
  bottom: 0%;
  left: 0%;
  right: 0%;
}

.text-style-quote {
  border-left: .25rem solid #e2e2e2;
  margin-bottom: 0;
  padding: 0 1.25rem;
  font-size: 1.25rem;
  line-height: 1.5;
}

.align-center {
  margin-left: auto;
  margin-right: auto;
}

.button {
  color: #fff;
  text-align: center;
  background-color: #000;
  padding: .75rem 1.5rem;
  font-weight: 600;
}

.button.is-text {
  color: #000;
  background-color: rgba(0, 0, 0, 0);
  border: 2px solid rgba(0, 0, 0, 0);
}

.button.is-small {
  padding: .5rem 1.25rem;
}

.button.is-large {
  padding: 1rem 2rem;
}

.button.is-secondary {
  color: #000;
  background-color: rgba(0, 0, 0, 0);
  border: 2px solid #000;
  border-bottom-width: .125rem;
}

.button.is-icon {
  grid-column-gap: 1rem;
  grid-row-gap: 1rem;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  display: flex;
}

.fs-styleguide_classes {
  grid-column-gap: 1px;
  grid-row-gap: 1px;
  grid-template-rows: auto;
  grid-template-columns: 1fr;
  grid-auto-columns: 1fr;
  display: grid;
}

.text-size-medium {
  font-size: 1.25rem;
}

.fs-styleguide_section {
  grid-column-gap: 6rem;
  grid-row-gap: 6rem;
  grid-template-rows: auto;
  grid-template-columns: 1fr;
  grid-auto-columns: 1fr;
  align-items: start;
  justify-items: start;
  display: grid;
}

.fs-styleguide_section.is-vertical {
  grid-column-gap: 4rem;
  grid-row-gap: 4rem;
  grid-template-columns: 1fr;
}

.button-group {
  grid-column-gap: 1rem;
  grid-row-gap: 1rem;
  flex-flow: wrap;
  justify-content: flex-start;
  align-items: center;
  display: flex;
}

.hide {
  display: none;
}

.padding-section-medium {
  padding-top: 5rem;
  padding-bottom: 5rem;
}

.container-medium {
  width: 100%;
  max-width: 64rem;
  margin-left: auto;
  margin-right: auto;
}

.form_radio {
  flex-direction: row;
  align-items: center;
  margin-bottom: .5rem;
  padding-left: 0;
  display: flex;
}

.home-message_content-grid {
  grid-column-gap: 4rem;
  grid-row-gap: 4rem;
  grid-template-rows: auto;
  grid-template-columns: 1fr;
  grid-auto-columns: 1fr;
  align-content: center;
  justify-content: center;
  align-items: center;
  justify-items: start;
  display: grid;
}

.home-message_component {
  min-height: 100vh;
  color: #fff;
  padding: 3rem;
  display: flex;
}

.home-message_list {
  grid-column-gap: 1.5rem;
  grid-row-gap: 1.5rem;
  grid-template-rows: auto;
  grid-template-columns: 1fr;
  grid-auto-columns: 1fr;
  justify-items: start;
  display: grid;
}

.home-message_content {
  width: 100%;
  color: #000;
  background-color: rgba(0, 0, 0, .05);
  flex-direction: column;
  justify-content: center;
  align-self: stretch;
  align-items: stretch;
  display: flex;
}

.home-message_heading-block {
  grid-column-gap: 1rem;
  grid-row-gap: 1rem;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  display: flex;
}

.home-message_item {
  grid-column-gap: 2rem;
  grid-row-gap: 2rem;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  display: flex;
}

.home-message_item-icon {
  width: 1.75rem;
  height: 1.75rem;
  color: #000;
  background-color: #fff;
  flex: none;
}

.home-message_logo {
  width: 4rem;
}

.fs-styleguide_spacing-all {
  display: none;
}

.fs-styleguide_color.is-1 {
  background-color: #000;
}

.fs-styleguide_color.is-2 {
  background-color: #f5f5f5;
}

.fs-styleguide_color.is-3 {
  background-color: #fff;
}

.two-column-layout {
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  flex-direction: row;
  justify-content: space-between;
  display: flex;
}

.column {
  width: 100%;
}

.column.left-side {
  width: 33.3333%;
}

.column.right-side {
  width: 66.6667%;
}

.column.right-side.right-flex {
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  flex-direction: column;
  display: flex;
}

.section-info.background-color-white.text-color-grey {
  color: #757575;
}

.section-info_header-img-container {
  width: 100%;
  max-width: 100%;
  min-width: 100%;
  position: relative;
}

.image {
  min-width: 100%;
}

.section-info_download-button.background-transparent {
  background-color: rgba(56, 152, 236, 0);
}

.section-info_download-button.background-transparent.button-left-border {
  border: 1px solid #fff;
}

.section-info_download-button.background-transparent.button-left-border.border-radius {
  border-radius: 5px;
}

.section-info_download-button.background-transparent.button-left-border.border-radius:hover {
  color: #009688;
  border-color: #009688;
}

.section-info_header-buttons {
  grid-column-gap: 1rem;
  grid-row-gap: 1rem;
  justify-content: center;
  margin-bottom: 16px;
  display: flex;
  position: absolute;
  top: auto;
  bottom: 0%;
  left: 0%;
  right: 0%;
}

.section-info_hire-button.background-color-aquagreen {
  background-color: #009688;
}

.section-info_hire-button.background-color-aquagreen.button-right-border {
  border: 1px solid #009688;
}

.section-info_hire-button.background-color-aquagreen.button-right-border.border-radius {
  border-radius: 5px;
}

.section-info_hire-button.background-color-aquagreen.button-right-border.border-radius:hover {
  background-color: #007a6f;
}

.section-info_personal {
  flex-direction: column;
  padding-left: 20px;
  padding-right: 20px;
  display: flex;
}

.fa-home {
  color: #009688;
  font-family: "Fa Solid 900", sans-serif;
  font-size: 1rem;
}

.personal-info {
  grid-column-gap: 15px;
  grid-row-gap: 15px;
  color: #009688;
  flex-direction: row;
  justify-content: flex-start;
  font-size: .8rem;
  text-decoration: none;
  display: flex;
}

.text-block {
  color: #009688;
}

.info {
  color: #009688;
  font-size: 1rem;
}

.fa-email {
  font-family: "Fa Solid 900", sans-serif;
  font-size: 1rem;
}

.fa-telephone {
  color: #009688;
  font-family: "Fa Solid 900", sans-serif;
  font-size: 1rem;
}

.fa-linkdin, .fa-github {
  font-family: "Fa Brands 400", sans-serif;
  font-size: 1.1rem;
}

.divider {
  border: 1px solid rgba(117, 117, 117, .2);
}

.section-info_technical-skills {
  padding-left: 20px;
  padding-right: 20px;
}

.title-icon {
  color: #009688;
  font-family: "Fa Solid 900", sans-serif;
}

.personal-info-title {
  color: #009688;
  font-size: 1.2rem;
  font-weight: 500;
}

.tech-skill-span, .list-item {
  color: #009688;
}

.hard-skill-title {
  color: #009688;
  font-weight: 700;
}

.hard-skill-span, .list {
  color: #009688;
}

.section-work-experience.background-color-white.text-color-grey.shadow-right.padding-left-right {
  padding-left: 20px;
  padding-right: 20px;
}

.section-info_languages-language {
  justify-content: space-between;
  display: flex;
}

.language-balls {
  grid-column-gap: 5px;
  grid-row-gap: 5px;
  justify-content: space-between;
  display: flex;
}

.ball {
  width: 20px;
  height: 20px;
  color: #171717;
  background-color: #00665c;
  border-radius: 20px;
}

.section-info_preferences-paragraph {
  color: #009688;
}

.right-title-icon {
  color: #009688;
  font-family: "Fa Solid 900", sans-serif;
  font-size: 2rem;
  font-weight: 400;
}

.paragraph {
  color: #009688;
  font-size: 2rem;
  font-weight: 400;
}

.experience-title {
  color: #009688;
  font-size: 1.2rem;
  font-weight: 500;
}

.date-icon {
  color: #009688;
  font-family: "Fa Solid 900", sans-serif;
}

.experience-title-bold {
  font-weight: 700;
}

.bold-span {
  color: #009688;
  font-weight: 500;
}

.bold-paragraph {
  color: #009688;
  font-weight: 400;
}

.padding-paragraph {
  color: #009688;
}

.text-span {
  font-weight: 500;
}

.right-divider {
  border-top: 1px solid rgba(117, 117, 117, .2);
}

.education-title {
  color: #009688;
  font-size: 1.2rem;
  font-weight: 700;
}

.education-subtitle {
  color: #009688;
  font-size: 1.1rem;
  font-weight: 500;
}

.master-thesi-link {
  color: #009688;
  text-decoration: none;
}

.link-paragraph {
  display: inline;
}

.section-work_contact {
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  justify-content: space-between;
  align-items: center;
  display: flex;
}

.form-block {
  width: 100%;
  color: #009688;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
}

.section-work_contact-left {
  min-width: 50%;
  flex-direction: column;
  justify-content: center;
  align-self: center;
  padding-right: 8px;
  display: flex;
}

.footer {
  background-color: #009688;
  margin-top: 16px;
  display: block;
}

.contact-info {
  color: #009688;
}

.form {
  min-width: 100%;
}

.textarea {
  min-height: 110px;
  min-width: 100%;
}

.form-field-border {
  border: 1px solid #bdbdbd;
  border-radius: 10px;
  margin-bottom: 20px;
}

.form-button-submit {
  width: 100%;
  background-color: #009688;
}

.form-button-submit.button-submit-radius {
  border-radius: 10px;
}

.form-button-submit.button-submit-radius:hover {
  background-color: #007a6f;
}

.section-work_contact-right {
  min-width: 50%;
  flex-direction: column;
  justify-content: center;
  align-self: flex-start;
  padding-left: 8px;
  display: flex;
}

.map {
  width: 100%;
  border-radius: 10px;
}

.section-footer {
  flex-direction: column;
  align-items: center;
  display: flex;
}

.social-icons {
  grid-column-gap: 10px;
  grid-row-gap: 10px;
  flex-direction: row;
  display: flex;
}

.social-link {
  color: #fff;
  font-size: 1.1rem;
  text-decoration: none;
}

.social-link:hover {
  color: #99fff5;
}

.fa-icon {
  font-family: "Fa Brands 400", sans-serif;
}

.contact-paragraph {
  color: #009688;
  font-size: 1.1rem;
  font-weight: 500;
}

.body {
  padding-left: 16px;
  padding-right: 16px;
}

.container {
  max-width: 1400px;
}

.link {
  width: 100%;
  color: #617d98;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 10px;
  font-size: 1.5rem;
  text-decoration: none;
  transition: border .5s;
  display: block;
}

.link:hover {
  color: #678e3e;
  background-color: #beed8c;
  border-left: 6px solid #678e3e;
}

.link.w--current {
  width: 100%;
  color: #617d98;
  text-align: left;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 10px;
  font-size: 1.5rem;
  text-decoration: none;
  transition: border .5s;
}

.link.w--current:hover {
  color: #678e3e;
  background-color: #beed8c;
  border-left: 6px solid #678e3e;
}

.navbar {
  height: 65px;
  background-color: #fff;
  position: fixed;
  top: 0%;
  bottom: auto;
  left: 0%;
  right: 0%;
}

.nav-container {
  max-width: 1400px;
  flex-direction: row;
  justify-content: space-between;
  display: flex;
}

.work-link.text-color-green, .education-link.text-color-green, .projects-link.text-color-green, .contact-link.text-color-green {
  color: #009688;
}

.navbar-wrap {
  justify-content: center;
  align-items: center;
  display: flex;
}

.nav-menu {
  align-self: center;
}

.brand {
  flex: 1;
  align-self: center;
  padding-left: 20px;
}

.brand-paragraph {
  color: #009688;
  font-size: 1.5rem;
  font-weight: 700;
}

.current {
  color: #fff;
  background-color: #009688;
  border-radius: 6px;
  padding-left: 10px;
  padding-right: 10px;
}

.button-2 {
  border-radius: 20px;
  font-size: .5rem;
  position: fixed;
  top: auto;
  bottom: 5%;
  left: auto;
  right: 1%;
}

.back-to-top-div {
  width: 55px;
  height: 55px;
  text-align: center;
  background-color: #007469;
  border-radius: 200px;
  justify-content: center;
  align-items: center;
  display: flex;
}

.back-to-top-link {
  z-index: 8888;
  width: 55px;
  height: 55px;
  opacity: 0;
  color: #009688;
  border-radius: 2000px;
  display: none;
  position: fixed;
  top: auto;
  bottom: 1.5%;
  left: auto;
  right: 1.5%;
}

.back-to-top-icon {
  color: #fff;
  font-family: "Fa Solid 900", sans-serif;
  font-size: 1.5rem;
}

.section-list, .paragraph-2, .language-paragraph, .date {
  color: #009688;
}

@media screen and (max-width: 991px) {
  .padding-xlarge {
    padding: 3rem;
  }

  .margin-xlarge {
    margin: 3rem;
  }

  .padding-xhuge {
    padding: 6rem;
  }

  .padding-xxhuge {
    padding: 8rem;
  }

  .padding-huge {
    padding: 5rem;
  }

  .margin-large {
    margin: 2.5rem;
  }

  .padding-xxlarge {
    padding: 4rem;
  }

  .padding-large {
    padding: 2.5rem;
  }

  .margin-huge {
    margin: 5rem;
  }

  .padding-medium {
    padding: 1.5rem;
  }

  .margin-xxlarge {
    margin: 4rem;
  }

  .margin-xhuge {
    margin: 6rem;
  }

  .margin-medium {
    margin: 1.5rem;
  }

  .margin-xxhuge {
    margin: 8rem;
  }

  .margin-horizontal {
    margin-top: 0;
    margin-bottom: 0;
  }

  .padding-top {
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
  }

  .margin-vertical {
    margin-left: 0;
    margin-right: 0;
  }

  .margin-bottom {
    margin-top: 0;
    margin-left: 0;
    margin-right: 0;
  }

  .padding-left {
    padding-top: 0;
    padding-bottom: 0;
    padding-right: 0;
  }

  .padding-vertical {
    padding-left: 0;
    padding-right: 0;
  }

  .padding-horizontal {
    padding-top: 0;
    padding-bottom: 0;
  }

  .margin-right {
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 0;
  }

  .margin-top {
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
  }

  .margin-left {
    margin-top: 0;
    margin-bottom: 0;
    margin-right: 0;
  }

  .padding-right {
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 0;
  }

  .padding-bottom {
    padding-top: 0;
    padding-left: 0;
    padding-right: 0;
  }

  .padding-bottom.padding-medium {
    display: block;
  }

  .hide-tablet {
    display: none;
  }

  .fs-styleguide_2-col {
    grid-column-gap: 2rem;
    grid-row-gap: 2rem;
    grid-template-columns: 1fr;
  }

  .max-width-full-tablet {
    width: 100%;
    max-width: none;
  }

  .fs-styleguide_1-col {
    grid-column-gap: 2rem;
    grid-row-gap: 2rem;
  }

  .fs-styleguide_heading-medium {
    font-size: 3rem;
  }

  .fs-styleguide_4-col {
    grid-template-columns: 1fr;
  }

  .padding-section-large {
    padding-top: 6rem;
    padding-bottom: 6rem;
  }

  .fs-styleguide_3-col {
    grid-template-columns: 1fr;
  }

  .page-wrapper {
    margin-top: 76px;
  }

  .fs-styleguide_section {
    grid-column-gap: 2.5rem;
    grid-template-columns: 1fr;
  }

  .padding-section-medium {
    padding-top: 4rem;
    padding-bottom: 4rem;
  }

  .personal-info-title {
    font-size: 1.1rem;
  }

  .navbar {
    height: 60px;
  }

  .nav-container {
    flex-direction: row;
    justify-content: center;
  }

  .navbar-wrap {
    align-items: flex-start;
  }

  .nav-menu {
    background-color: #fff;
    box-shadow: 0 5px 5px rgba(0, 0, 0, .2);
  }

  .icon {
    color: #009688;
  }

  .menu-button, .menu-button.w--open {
    background-color: #fff;
  }
}

@media screen and (max-width: 767px) {
  h1 {
    font-size: 2.5rem;
  }

  h2 {
    font-size: 2rem;
  }

  h3 {
    font-size: 1.5rem;
  }

  h4 {
    font-size: 1.25rem;
  }

  h5 {
    font-size: 1rem;
  }

  h6 {
    font-size: .875rem;
  }

  .padding-xlarge {
    padding: 2rem;
  }

  .margin-xlarge {
    margin: 2rem;
  }

  .padding-xhuge {
    padding: 4rem;
  }

  .padding-xxhuge {
    padding: 4.5rem;
  }

  .padding-huge {
    padding: 3.5rem;
  }

  .margin-large {
    margin: 1.5rem;
  }

  .padding-xxlarge {
    padding: 3rem;
  }

  .padding-large {
    padding: 1.5rem;
  }

  .margin-huge {
    margin: 3.5rem;
  }

  .padding-medium {
    padding: 1.25rem;
  }

  .margin-xxlarge {
    margin: 3rem;
  }

  .margin-xhuge {
    margin: 4rem;
  }

  .margin-medium {
    margin: 1.25rem;
  }

  .margin-xxhuge {
    margin: 4.5rem;
  }

  .margin-horizontal {
    margin-top: 0;
    margin-bottom: 0;
  }

  .padding-top {
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
  }

  .margin-vertical {
    margin-left: 0;
    margin-right: 0;
  }

  .margin-bottom {
    margin-top: 0;
    margin-left: 0;
    margin-right: 0;
  }

  .padding-left {
    padding-top: 0;
    padding-bottom: 0;
    padding-right: 0;
  }

  .padding-vertical {
    padding-left: 0;
    padding-right: 0;
  }

  .padding-horizontal {
    padding-top: 0;
    padding-bottom: 0;
  }

  .margin-right {
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 0;
  }

  .margin-top {
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
  }

  .margin-left {
    margin-top: 0;
    margin-bottom: 0;
    margin-right: 0;
  }

  .padding-right {
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 0;
  }

  .padding-bottom {
    padding-top: 0;
    padding-left: 0;
    padding-right: 0;
  }

  .padding-bottom.padding-small {
    padding-bottom: 1.4rem;
  }

  .padding-bottom.padding-xsmall {
    padding-bottom: 1rem;
  }

  .padding-bottom.padding-medium {
    padding-bottom: 1.8rem;
  }

  .hide-mobile-landscape {
    display: none;
  }

  .fs-styleguide_heading-large {
    font-size: 3rem;
  }

  .heading-style-h3 {
    font-size: 1.5rem;
  }

  .heading-style-h1 {
    font-size: 2.5rem;
  }

  .padding-global {
    padding-left: 1.25rem;
    padding-right: 1.25rem;
  }

  .padding-section-small {
    padding-top: 2rem;
    padding-bottom: 2rem;
  }

  .fs-styleguide_section-header {
    font-size: .875rem;
  }

  .fs-styleguide_heading-medium {
    font-size: 2rem;
  }

  .max-width-full-mobile-landscape {
    width: 100%;
    max-width: none;
  }

  .heading-style-h4 {
    font-size: 1rem;
  }

  .text-style-nowrap {
    white-space: normal;
  }

  .heading-style-h6 {
    font-size: .75rem;
  }

  .padding-section-large {
    padding-top: 4rem;
    padding-bottom: 4rem;
  }

  .text-size-large {
    font-size: 1.25rem;
  }

  .heading-style-h2 {
    font-size: 2rem;
  }

  .fs-styleguide_version, .heading-style-h5 {
    font-size: .875rem;
  }

  .padding-section-medium {
    padding-top: 3rem;
    padding-bottom: 3rem;
  }

  .home-message_component {
    padding: 0;
  }

  .home-message_content {
    border-radius: 0;
  }

  .two-column-layout {
    flex-direction: column;
  }

  .column.left-side, .column.right-side.right-flex {
    width: 100%;
  }

  .personal-info-title {
    font-size: 1.2rem;
  }

  .section-work_contact {
    flex-direction: column;
  }

  .section-work_contact-left {
    width: 100%;
    min-width: 0%;
    padding-right: 0;
  }

  .section-work_contact-right {
    width: 100%;
    min-width: 0%;
    padding-left: 0;
  }

  .work-link.text-color-grey, .education-link.text-color-grey, .projects-link.text-color-grey, .contact-link.text-color-grey {
    text-align: center;
  }
}

@media screen and (max-width: 479px) {
  .margin-horizontal {
    margin-top: 0;
    margin-bottom: 0;
  }

  .padding-top {
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
  }

  .margin-vertical {
    margin-left: 0;
    margin-right: 0;
  }

  .margin-bottom {
    margin-top: 0;
    margin-left: 0;
    margin-right: 0;
  }

  .padding-left {
    padding-top: 0;
    padding-bottom: 0;
    padding-right: 0;
  }

  .padding-vertical {
    padding-left: 0;
    padding-right: 0;
  }

  .padding-horizontal {
    padding-top: 0;
    padding-bottom: 0;
  }

  .margin-right {
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 0;
  }

  .margin-top {
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
  }

  .margin-left {
    margin-top: 0;
    margin-bottom: 0;
    margin-right: 0;
  }

  .padding-right {
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 0;
  }

  .padding-bottom {
    padding-top: 0;
    padding-left: 0;
    padding-right: 0;
  }

  .max-width-full-mobile-portrait {
    width: 100%;
    max-width: none;
  }

  .hide-mobile-portrait {
    display: none;
  }

  .section-info_download-button.background-transparent.button-left-border.border-radius, .section-info_hire-button.background-color-aquagreen.button-right-border.border-radius {
    padding-left: 10px;
    padding-right: 10px;
    font-size: .97rem;
  }

  .brand-paragraph {
    font-size: 1.3rem;
  }
}

#w-node-_32eadc24-e391-a089-abe0-fb5b6627ca17-d072261c, #w-node-_32eadc24-e391-a089-abe0-fb5b6627ca1c-d072261c, #w-node-_32eadc24-e391-a089-abe0-fb5b6627ca21-d072261c, #w-node-_32eadc24-e391-a089-abe0-fb5b6627ca26-d072261c, #w-node-_32eadc24-e391-a089-abe0-fb5b6627ca2c-d072261c, #w-node-_32eadc24-e391-a089-abe0-fb5b6627ca32-d072261c, #w-node-_32eadc24-e391-a089-abe0-fb5b6627ca38-d072261c {
  justify-self: start;
}

#w-node-_32eadc24-e391-a089-abe0-fb5b6627cb45-d072261c, #w-node-_32eadc24-e391-a089-abe0-fb5b6627cb5e-d072261c {
  grid-area: span 1 / span 1 / span 1 / span 1;
}

#w-node-_32eadc24-e391-a089-abe0-fb5b6627cb61-d072261c {
  justify-self: start;
}

#w-node-_32eadc24-e391-a089-abe0-fb5b6627cb63-d072261c {
  grid-area: span 1 / span 1 / span 1 / span 1;
}

#w-node-_32eadc24-e391-a089-abe0-fb5b6627cb66-d072261c {
  justify-self: start;
}

#w-node-_32eadc24-e391-a089-abe0-fb5b6627cbb8-d072261c, #w-node-_32eadc24-e391-a089-abe0-fb5b6627cbc2-d072261c, #w-node-_32eadc24-e391-a089-abe0-fb5b6627cbc3-d072261c {
  grid-area: span 1 / span 1 / span 1 / span 1;
}

#w-node-_32eadc24-e391-a089-abe0-fb5b6627cc31-d072261c, #w-node-_32eadc24-e391-a089-abe0-fb5b6627cc36-d072261c, #w-node-_32eadc24-e391-a089-abe0-fb5b6627cc3b-d072261c, #w-node-_32eadc24-e391-a089-abe0-fb5b6627cc40-d072261c, #w-node-_32eadc24-e391-a089-abe0-fb5b6627cc45-d072261c, #w-node-_32eadc24-e391-a089-abe0-fb5b6627cc4a-d072261c, #w-node-_32eadc24-e391-a089-abe0-fb5b6627cc54-d072261c, #w-node-_32eadc24-e391-a089-abe0-fb5b6627cc59-d072261c, #w-node-_32eadc24-e391-a089-abe0-fb5b6627cc5e-d072261c, #w-node-_32eadc24-e391-a089-abe0-fb5b6627cc63-d072261c, #w-node-_32eadc24-e391-a089-abe0-fb5b6627cc68-d072261c, #w-node-_32eadc24-e391-a089-abe0-fb5b6627cc6d-d072261c, #w-node-_32eadc24-e391-a089-abe0-fb5b6627cc72-d072261c, #w-node-_32eadc24-e391-a089-abe0-fb5b6627cc77-d072261c, #w-node-_32eadc24-e391-a089-abe0-fb5b6627cc7c-d072261c, #w-node-_32eadc24-e391-a089-abe0-fb5b6627cc81-d072261c, #w-node-_32eadc24-e391-a089-abe0-fb5b6627cc86-d072261c {
  justify-self: start;
}

#w-node-_32eadc24-e391-a089-abe0-fb5b6627cc8a-d072261c {
  grid-area: span 1 / span 1 / span 1 / span 1;
}

#w-node-_32eadc24-e391-a089-abe0-fb5b6627cc8b-d072261c, #w-node-_32eadc24-e391-a089-abe0-fb5b6627cc90-d072261c, #w-node-_32eadc24-e391-a089-abe0-fb5b6627cc95-d072261c, #w-node-_32eadc24-e391-a089-abe0-fb5b6627cc9a-d072261c, #w-node-_32eadc24-e391-a089-abe0-fb5b6627ccaf-d072261c, #w-node-_32eadc24-e391-a089-abe0-fb5b6627ccb4-d072261c, #w-node-_32eadc24-e391-a089-abe0-fb5b6627ccb9-d072261c, #w-node-_32eadc24-e391-a089-abe0-fb5b6627ccbe-d072261c, #w-node-_32eadc24-e391-a089-abe0-fb5b6627ccc3-d072261c, #w-node-_32eadc24-e391-a089-abe0-fb5b6627ccc8-d072261c, #w-node-_32eadc24-e391-a089-abe0-fb5b6627ccd2-d072261c, #w-node-_32eadc24-e391-a089-abe0-fb5b6627ccd7-d072261c, #w-node-_32eadc24-e391-a089-abe0-fb5b6627ccdc-d072261c, #w-node-_32eadc24-e391-a089-abe0-fb5b6627cce1-d072261c, #w-node-_32eadc24-e391-a089-abe0-fb5b6627cce6-d072261c, #w-node-_32eadc24-e391-a089-abe0-fb5b6627cceb-d072261c, #w-node-_32eadc24-e391-a089-abe0-fb5b6627ccf0-d072261c, #w-node-_32eadc24-e391-a089-abe0-fb5b6627ccf5-d072261c, #w-node-_32eadc24-e391-a089-abe0-fb5b6627ccfa-d072261c, #w-node-_32eadc24-e391-a089-abe0-fb5b6627ccff-d072261c, #w-node-_32eadc24-e391-a089-abe0-fb5b6627cd04-d072261c {
  justify-self: start;
}

#w-node-_32eadc24-e391-a089-abe0-fb5b6627cd08-d072261c {
  grid-area: span 1 / span 1 / span 1 / span 1;
}

#w-node-_32eadc24-e391-a089-abe0-fb5b6627cd09-d072261c, #w-node-_32eadc24-e391-a089-abe0-fb5b6627cd0e-d072261c, #w-node-_32eadc24-e391-a089-abe0-fb5b6627cd13-d072261c, #w-node-_32eadc24-e391-a089-abe0-fb5b6627cd18-d072261c {
  justify-self: start;
}

#w-node-_32eadc24-e391-a089-abe0-fb5b6627cd6b-d072261c {
  grid-area: span 1 / span 1 / span 1 / span 1;
}

#w-node-_32eadc24-e391-a089-abe0-fb5b6627cdc7-d072261c {
  justify-self: start;
}


@font-face {
  font-family: 'Fa V 4 Compatibility';
  src: url('../fonts/fa-v4compatibility.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Fa Regular 400';
  src: url('../fonts/fa-regular-400.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Fa Brands 400';
  src: url('../fonts/fa-brands-400.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Fa Solid 900';
  src: url('../fonts/fa-solid-900.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}